.huvao { 
  border-bottom-width: 93px;
  line-height: 91px;
  border-right-width: 49px;
  border-bottom-width: 96px;
  margin-top: 40px;
  border-bottom-width: 74px;
  padding-left: 0px;
  margin-bottom: 46px;
  margin-left: 39px;
  padding-top: 16px;
  margin-right: 30px;
  border-left-width: 3px;
  border-left-width: 89px;
  border-bottom-width: 12px;
  border-right-width: 49px;
  margin-top: 90px;
  padding-top: 76px;
  padding-top: 18px;
  margin-top: 1px;
  padding-left: 59px;
  padding-left: 36px;
}
